.select-box {
  padding: 1%;
  margin: 1px;
  border: 1px;
  min-inline-size: 20px;
  display: inline;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  border: 1px solid blue;
=======
  border: 1px solid black;
>>>>>>> bcdb862... adding index and css file
=======
  border: 1px solid blue;
>>>>>>> 2fd649e... modified box color
=======
  border: 1px solid blue;
>>>>>>> de924ac44fb53e446bf1f9f3f11f1f03423b951a
}
.container {
  max-width: fit-content;
  min-height: fit-content;
  border: 2px solid black;
  margin: 20px;
}
.brush-button {
    padding: 1%;
    margin: 0px;
    width: 30px;
    height: 18px;
    background-attachment: fixed;
    background-color: dimgray;
    text-align: center;
  }
  .brush-size {
    padding: 1%;
    margin: 1px;
    width: 20px;
    height: 15px;
    text-align: center;
  }
.brush-control {
    display: inline-flex;
  height: fit-content;
  border: 0.5px solid black;
  
}

